{% extends "base.html" %}

{% block content %}
<div class="columns">
    <div class="column is-one-third">
        <h3 class="title">Search for friends</h3>
        {% if no_found == 1 %}
            <h5 class="subtitle is-5"><span class="tag is-danger is-light">No users found. Try changing search criteria</span></h5>
        {% endif %}
        <div class="box">
            <form method="GET" action="/search_friends">

                 <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="first_name" placeholder="First name" autofocus="" value="">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="last_name" placeholder="Last name" autofocus="" value="">
                    </div>
                </div>
               <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="age" placeholder="age" autofocus="" value="">
                    </div>
                </div>
               <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="gender" placeholder="Gender" autofocus="" value="">
                    </div>
                </div>
               <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="interests" placeholder="Interests" autofocus="" value="">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="city" placeholder="City" value="">
                    </div>
                </div>


                <button class="button is-block is-info is-large is-fullwidth">Search</button>
            </form>
        </div>
    </div>
{% if users is defined %}
    <div class="column is-two-thirds">
        <h3 class="title">Search results</h3>
        <!-- to do: add a column "status": a friend/not a friend -->
        <div class="box">
            <table class="table">
                <tbody>
                <tr><td>full name</td><td>age</td><td>gender</td><td>interests</td><td>city</td></tr>
                    {% for user in users %}
                <tr><td><a style="color:blue;text-decoration: underline;" href="/show_profile?id={{ user[0] }}">{{ user[2] }}</a></td>
                    <td>{{ user[3] }}</td>
                    <td>{{ user[4] }}</td>
                    <td>{{ user[5] }}</td>
                    <td>{{ user[6] }}</td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p><span class="pagination-previous">pages:</span> {{ pages | safe }}</p>
        </div>
    </div>
{% endif %}
</div>
{% endblock %}