{% extends "base.html" %}

{% block content %}
{% if action == "added" %}
        <h5 class="subtitle is-5"><span class="tag is-warning">Friend successfully added</span></h5>
{% elif action == "deleted" %}
        <h5 class="subtitle is-5"><span class="tag is-warning">Friend deleted</span></h5>
{% endif %}
<div class="columns">
  {% if no_found == 1 %}
    <div class="column">
        <h5 class="subtitle is-5"><span class="tag is-danger is-light">User not found</span></h5>
    </div>
  {% else %}


      <div class="column">
        <h3 class="title">Personal info</h3>
        <div class="box">
            <table>
                <tbody>
                    <tr>
                        <td>User name:</td>
                        <td>{{ user[2] }}</td>
                    </tr>
                    <tr>
                        <td>Age:</td>
                        <td>{{ user[3] }}</td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td>{{ user[4] }}</td>
                    </tr>
                    <tr>
                        <td>Interests:</td>
                        <td>{{ user[5] }}</td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td>{{ user[6] }}</td>
                    </tr>
                    <tr>
                        <td>Friends status</td>
                        <td>{{ relationship_button | safe }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
      <div class="column">
        <h3 class="title">Friends</h3>
          <div class="box">
              {% if no_friend == 1 %}
              <h5 class="subtitle is-5"><span class="tag is-danger is-light">No friends to show</span></h5>
              {% endif %}
              {% if users is defined %}
                <!-- to do: add a column "status": a friend/not a friend -->
              <p>Showing a few of {{ user[2] }}'s friends:</p>
                    <table class="table">
                        <tbody>
                            <tr><td>full name</td><td>age</td><td>gender</td><td>interests</td><td>city</td></tr>
                            {% for user in users %}
                            <tr><td><a style="color:blue;text-decoration: underline;" href="/show_profile?id={{ user[0] }}">{{ user[1] }}</a></td>
                                <td>{{ user[2] }}</td>
                                <td>{{ user[3] }}</td>
                                <td>{{ user[4] }}</td>
                                <td>{{ user[5] }}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
              <p><a href="{{ url_for('friends.show_friends',id=user[0]) }}" class="navbar-item" style="color:blue;text-decoration: underline;">view all friends</a></p>
              {% endif %}

          </div>
      </div>
      <div class="column">
        <h3 class="title">Posts</h3>
      </div>
      {% endif %}
    </div>
{% endblock %}