{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    {% if signup_failed == 1 %}
        <h5 class="subtitle is-5"><span class="tag is-danger is-light">This username already exists. Please try another one.</span></h5>
    {% elif signup_failed == 2 %}
        <h5 class="subtitle is-5"><span class="tag is-danger is-light">Username or password cannot be empty.</span></h5>
    {% endif %}
    <div class="box">
        <form method="POST" action="/signup">

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="username" placeholder="Username" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}